* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.barra-lateral {
  font-family: "Karla", sans-serif;
  background-color: #6ca9b9;
  position: relative;
  width: 350px;
  color: white;
  height: 100vh;
  display: inline-block;
}

.barra-lateral > header,
.barra-lateral > section > address,
.barra-lateral > footer {
  padding: 20px;
}

#nombre {
  padding-top: 35px;
  /* font-size: larger; */
  text-align: center;
}

#foto-perfil {
  width: 70%;
  border-radius: 50%;
  /* height: 70%; */
  /* object-fit: cover; */
  margin: 0 auto;
  display: block;
}

.informacion p {
  font-style: normal;
}

.informacion > h2 {
  background-color: #1e4e72;
  width: 90%;
  padding: 5px 10px 5px 20px;
  border-bottom-right-radius: 50px;
}

/*
Solamente hacer que el footer ocupe el espacio restante de la barra lateral,
para luego, colocar los elementos hasta abajo de este contenedor.
*/
.barra-lateral > footer {
  /* Tomar el alto restante del contenedor. */
  /* height: 100%; */
  /* position: relative; */
  margin-top: 40px;

}

.barra-lateral > footer > .footer-bottom {
  position: absolute;
  bottom: 0;
}

.barra-lateral > footer p {
  padding-bottom: 10px;
  font-weight: bold;
  text-align: center;
}
