body {
  background-color: #ececec;
  min-width: 660px;
}

.hobbies {
  display: block;
  position: relative;
  width: calc(100% - 350px);
  /* Margen izquierdo tomando en cuenta el side bar. */
  margin-left: 350px;
  /* background-color: #ececec; */
  padding: 20px 30px;
  /* height: 100vh; */
  font-family: "Yaldevi", sans-serif;
}

img[alt="The Marshall Mathers LP"],
.musica img {
  min-width: 150px;
  width: 30%;
  display: inline-block;
  vertical-align: top;
}

img[alt="The Marshall Mathers LP"]::before {
  /* content: '';
  width: 5px;
  background-color: #FFBA10; */
}

.hobbies > article {
  /* border: solid 1px tomato; */
  /* border: solid 1px #011525; */
  box-shadow: 5px 5px 10px hsla(207, 95%, 7%, 0.3);
  position: relative;
  width: 100%;
  /* filter: drop-shadow(-5px 5px 3.5px hsla(65, 83%, 59%, 0.5)); */
}

.hobbies > .videojuegos,
.hobbies > .musica {
  padding: 20px;
}

.hobbies img {
  max-width: 100%;
}

/* Artículo 1 y 2 pongo margen abajo, y al otro ya no. */
/* #articulo-1,
#articulo-2 { */

/* Le pongo margen a todos los hijos, menos al último. */
.hobbies :not(:last-child) {
  /*
  Esto es lo mismo que lo siguiente:
    
    ```
    #articulo-1,
    #articulo-2 {}
    ```

  */
  margin-bottom: 40px;
}

.musica {
  background-color: #ad7a99;
}

.musica > h2 {
  display: inline-block;
  vertical-align: top;
  margin-left: 10px;
}

/* .musica > figure {
  display: flex;
} */

.descripcion-imagen {
  text-align: justify;
}

.musica .descripcion-imagen {
  /* Podría utilizar solo 65%, pero era para no olvidar este método. */
  width: calc(100% - 35%);
  margin-left: 5px;
  vertical-align: top;
  display: inline-block;
}

.videojuegos {
  background-color: #17a398;
}

.hobbies > article h2 {
  color: white;
}

.videojuegos > img {
  /* height: 100%; */
  width: 100%;
  border-radius: 10px;
}

.videojuegos h2::selection,
.videojuegos p::selection {
  color: white;
  background-color: #253d5b;
}

.videojuegos h2 {
  text-align: right;
}

.videojuegos p {
  text-align: justify;
}

em {
  font-weight: 900;
}

em[id="mortal-kombat"]::before {
  content: '"';
}

em[id="mortal-kombat"]::after {
  content: '"';
}

em[id="mortal-kombat"] {
  text-decoration: underline;
}

.hobbies > .basket p {
  padding: 20px;
}

.basket {
  background-color: #fc814a;
  display: inline-block;
}

.basket > .titulo-decorado {
  display: block;
  position: sticky;
  bottom: 0;
  color: white;
  padding: 10px 30px;
  margin: 5px;
  /* border-radius: 70px; */
  width: fit-content;
  /* background-color: #17a398; */
  background-color: #1f0200;
}

.basket > .titulo-decorado:hover {
  color: #1f0200;
  background-color: white;
}

.basket > .titulo-decorado::selection {
  background-color: #fc814a;
  color: white;
}

.basket p {
  background-color: #1f0200;
  color: white;
  /* width: 100%; */
  text-align: justify;
  margin: 5px;
}

.basket p::selection,
.basket p > ::selection {
  background-color: white;
  color: #1f0200;
}

.grupo-img-musica {
  display: inline-block;
  width: min-content;
}

.basket img {
  width: 100%;
  height: 300px;
  /* overflow: hidden; */
  object-fit: cover;
}

/* Quería poner los dos primeros artículos lado a lado, pero ya no lo logré. */

.dos-articulos-horizontales {
  display: block;
  position: relative;
}

.dos-articulos-horizontales > {
  width: 50%;
  display: inline-block;
}
