.hobbies {
  display: block;
  /* Margen izquierdo tomando en cuenta el side bar. */
  margin-left: 350px;
  background-color: #ececec;
  padding: 20px 30px;
  /* height: 100vh; */
}

img[alt="The Marshall Mathers LP"] {
  width: 30%;
  min-width: 150px;
  display: inline-block;
  vertical-align: top;
}

.hobbies > article {
  padding: 20px;
  /* border: solid 1px tomato; */
  /* border: solid 1px #011525; */
  box-shadow: 5px 5px 10px hsla(207, 95%, 7%, 0.300);
  /* filter: drop-shadow(-5px 5px 3.5px hsla(65, 83%, 59%, 0.5)); */
}

/* Artículo 1 y 2 pongo margen abajo, y al otro ya no. */
#articulo-1,
#articulo-2 {
  margin-bottom: 40px;
}

.musica > h2 {
  display: inline-block;
  vertical-align: top;
  margin-left: 10px;
}

.musica > figure {
  display: flex;
}

.musica .descripcion-imagen {
  /* Podría utilizar solo 65%, pero era para no olvidar este método. */
  width: calc(100% - 35%);
  margin-left: 5px;
  vertical-align: top;
}
